<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates ea quo assumenda commodi fugit recusandae sed sint corporis ex nemo possimus unde odit, officiis optio tenetur, libero repellendus consequuntur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates ea quo assumenda commodi fugit recusandae sed sint corporis ex nemo possimus unde odit, officiis optio tenetur, libero repellendus consequuntur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates ea quo assumenda commodi fugit recusandae sed sint corporis ex nemo possimus unde odit, officiis optio tenetur, libero repellendus consequuntur.</p>
        
    </div>
    <%-include('./partials/footer.ejs') %>
</body>
</html>